img{
  width:100%;
}
#arrow{
  display: inline-block;
  /* float:left;  remove */
  margin: 10px 10px 0 0;
  padding: 5px 10px
}
.img-holder{
  position: absolute;
  width:90vw;
  margin-left: -20%;
  left: 0 !important;
  height:120%;

}
.img-holder img{
  transition: .2s ease-in;
  opacity: .05;
  width: 8% !important;
  position: relative;
  width:  100px;
  height: 100px;
  object-fit:scale-down;
}

img:hover {
  opacity: 1;
  transform: scale(2);
}
